# These are the python libraries for all SQL drivers.
# You must have the drivers installed in order to install these!
# (They are commented out for a reason, uncomment them once drivers are installed)

#cx-Oracle==5.2.1
#MySQL-python==1.2.5
#psycopg2==2.6.1
#pyodbc==3.0.10

py==1.4.31
six==1.9.0
SQLAlchemy==1.0.13
sqlalchemy-migrate==0.9.7
SQLAlchemy-Utils==0.30.9
